# General
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.db
*.sqlite3
*.zip
*.tar.gz
*.mp4
*.csv
*.xls*
*.ipynb
.DS_Store
.env
.env.*
venv/
.venv/

# Node / JS
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Docker / VS Code / Git
.vscode/
.git/
.gitignore
.dockerignore
Dockerfile*
docker-compose*

# WhatsApp Bot: evita archivos con problemas de permisos
wwebjs_auth/
wwebjs_auth/session/
.wwebjs_auth/
.wwebjs_auth/session/


# Otros
charts/
LICENSE
README.md
**/*.dbmdl
**/*.jfm
**/*.*proj.user
bin/
obj/

